:root,:host{
    --md-sys-color-background:#17130c;
    --md-sys-color-on-background:#ebe1d6;
    --md-sys-color-surface:#17130c;
    --md-sys-color-surface-dim:#17130c;
    --md-sys-color-surface-bright:#3e3831;
    --md-sys-color-surface-container-lowest:#120e08;
    --md-sys-color-surface-container-low:#1f1b14;
    --md-sys-color-surface-container:#241f18;
    --md-sys-color-surface-container-high:#2e2922;
    --md-sys-color-surface-container-highest:#39342c;
    --md-sys-color-on-surface:#ebe1d6;
    --md-sys-color-surface-variant:#4f4536;
    --md-sys-color-on-surface-variant:#d3c4b1;
    --md-sys-color-inverse-surface:#ebe1d6;
    --md-sys-color-inverse-on-surface:#353028;
    --md-sys-color-outline:#9c8f7d;
    --md-sys-color-outline-variant:#4f4536;
    --md-sys-color-shadow:#000000;
    --md-sys-color-scrim:#000000;
    --md-sys-color-surface-tint:#f4be5b;
    --md-sys-color-primary:#f4be5b;
    --md-sys-color-on-primary:#422c00;
    --md-sys-color-primary-container:#845c00;
    --md-sys-color-on-primary-container:#ffffff;
    --md-sys-color-inverse-primary:#7d5700;
    --md-sys-color-secondary:#e0c294;
    --md-sys-color-on-secondary:#3f2d0b;
    --md-sys-color-secondary-container:#503c19;
    --md-sys-color-on-secondary-container:#efd0a1;
    --md-sys-color-tertiary:#bccf72;
    --md-sys-color-on-tertiary:#2a3400;
    --md-sys-color-tertiary-container:#596a17;
    --md-sys-color-on-tertiary-container:#ffffff;
    --md-sys-color-error:#ffb4ab;
    --md-sys-color-on-error:#690005;
    --md-sys-color-error-container:#93000a;
    --md-sys-color-on-error-container:#ffdad6;
}

:root {
    --md-ref-typeface-brand: 'Roboto', sans-serif;
    --md-ref-typeface-plain: 'Roboto', sans-serif;
    --md-filled-icon-button-container-width: 70px;
    --md-filled-icon-button-container-height: 70px;
    --md-icon-button-state-layer-width: 60px;
    --md-icon-button-state-layer-height: 60px;
}

body {
    background-color: var(--md-sys-color-background);
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

body,html {
    margin: 0;
    padding: 0;
}

p, h1, h2, h3, h4, h5, h6, span, a {
    color: var(--md-sys-color-on-background);
}

/* User made styles */
.top-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.top-bar h1 {
    margin-right: 20px;
}

.thumbnail {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 16px;
    margin: 5px;
    background-color: var(--md-sys-color-primary);
}

@media (max-height: 675px) {
    .thumbnail {
        width: 250px;
        height: 250px;
    }    
}

@media (max-height: 625px) {
    .thumbnail {
        width: 200px;
        height: 200px;
    }
    
}

@media (max-height: 575px) {
    .thumbnail {
        width: 200px;
        height: 150px;
    }    
}

.player {
    display: flex;
    flex-direction: column;
    /* Align vertically and horizontally */
    align-items: center;
    justify-content: center;
    /* Make it fill the whole screen */
    width: 100%;
    height: 100vh;
    text-align: center;
}

.player a {
    color: var(--md-sys-color-secondary);
    text-decoration: none;
}

.slider {
    width: 300px;
    margin: 5px;
}

#yt-player {
    display: none;
}

.fab {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.player-controls * {
    margin: 5px;
}

.top-bar h1 {
    color: var(--md-sys-color-primary);
}

.top-bar {
    --md-icon-button-icon-color: var(--md-sys-color-primary);
    --md-icon-button-hover-icon-color: var(--md-sys-color-primary);
    --md-icon-button-focus-icon-color: var(--md-sys-color-primary);
    --md-icon-button-pressed-icon-color: var(--md-sys-color-primary);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.ham-menu {
    --md-icon-button-state-layer-width: 40px;
    --md-icon-button-state-layer-height: 40px;
    margin: 10px;
    transition: 0.2s;
}

.ham-menu:active {
    transform: rotate(90deg);
}

.menu {
    --md-icon-button-icon-color: var(--md-sys-color-primary);
    --md-icon-button-hover-icon-color: var(--md-sys-color-primary);
    --md-icon-button-focus-icon-color: var(--md-sys-color-primary);
    --md-icon-button-pressed-icon-color: var(--md-sys-color-primary);
    background-color: var(--md-sys-color-surface-container);
    --md-icon-button-state-layer-width: 40px;
    --md-icon-button-state-layer-height: 40px;
    width: 400px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -400px;
    border-radius: 0 16px 16px 0;
    box-sizing: border-box;
    z-index: 100;
    animation-duration: 0.5s;
}

.menu-add-btn {
    margin-right: 10px;
}

.menu-top-bar {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    
}

.playlist-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 8px;
    background-color: var(--md-sys-color-surface-container-high);
    border-radius: 8px;
    cursor: pointer;
    --md-icon-button-icon-color: var(--md-sys-color-on-surface-variant);
    --md-icon-button-hover-icon-color: var(--md-sys-color-on-surface-varianty);
    --md-icon-button-focus-icon-color: var(--md-sys-color-on-surface-variant);
    --md-icon-button-pressed-icon-color: var(--md-sys-color-on-surface-variant);
}

.playlist-item span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 10px;

}

.playlist-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}

#playlist-item {
    display: none;
}

@media (max-width: 800px) {
    .menu {
        width: 100vw;
        left: -100vw;
        border-radius: 0;
    }
    
}

@keyframes openMenu {
    from {
        left: -400px;
    }
    to {
        left: 0px;
    }
}

@keyframes closeMenu {
    from {
        left: 0px;
    }
    to {
        left: -400px;
    }
}

@keyframes smallOpenMenu {
    from {
        left: -100vw;
    }
    to {
        left: 0px;
    }
}

@keyframes smallCloseMenu {
    from {
        left: 0px;
    }
    to {
        left: -100vw;
    }
}